%h2.page-title
  = link_to page.title, url(:page, :id => page.stamp)
  %small
    = "NOT PUBLISHED" unless page.published
%p.page-meta 
  - if page.author
    = page.author.name
  ,
  %i= page.created_at.strftime('%B %d')
    
.page-content
  ~ page.content_html
  
%p.page-meta
  Tagged in: 
  = page.tags.split(' ').map { |tag| link_to tag, url(:tag, :tag => tag) }.join(' , ')