= partial :page, :with => @page

.page-comments
  - if @page.comments.size > 0
    %h2 Comments
  - else
    %h2 First Comment
    
  - @comments.each do |comment|
    .comment
      .comment-meta 
        = comment.author.name || "Anonymous Coward"
        %span.date-time
          = time_lost_in_sensible_words(comment.created_at)
      = comment.content_html
        
        
  - if (@comment && !@comment.errors.blank?) || (@author && !@author.errors.blank?)
    .errors
      %p Please correct following errors
      %ul
        = "<li>#{@comment.errors.map {|k,v| v }.join('</li><li>')}</li>" if (@comment && !@comment.errors.blank?)
        = "<li>#{@author.errors.map {|k,v| v }.join('</li><li>')}</li>" if (@author && !@author.errors.blank?)
          
  = form_for @comment, :action => url(:create_comment, :id => @page.id) do
    - fields_for @author do
      = text_field :name, :label => 'Name'
      = text_field :email, :label => 'Email Address'
      = text_field :url, :label => 'Web Address'
    ~ text_area  :content, :label => "Content", :cols => "44", :rows => "10"
    = submit "Save"