!!! Strict
%html{ "xml:lang" => "en-us", :lang => "en-us", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      Blog
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }/
    = css_include_tag 'admin.css'
    = jquery
  %body
    #page-wrap
      #inside
        #header
          %ul#header-menu
            %li 
              = link_to "&#x2190; View Site", "/"
            %li 
              = link_to "Pages"
            %li 
              = link_to "My Info"
            %li.last 
              = link_to '&nbsp;'
            %div{ :style => "clear: both;" }/
        #left-sidebar
          %h2 About Us
        #main-content
          = catch_content :for_layout
      
        %div{ :style => "clear: both;" }/
        #footer
      %div{ :style => "clear: both;" }/