!!! Strict
%html{ "xml:lang" => "en-us", :lang => "en-us", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      = @page_title
      InsightMehtods - Blog
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }/
    = css_include_tag 'master.css'
    = css_include_tag 'coderay.css'
    = jquery
    %link{:rel=>"alternate", :type=>"application/rss+xml", :title=>"RSS", :href=>"#{url(:pages, :format => 'atom')}"}
  %body
    #page-wrap
      #inside
        #header
          %ul#header-menu
            %li 
              = link_to "Home", url(:home)
            %li 
              = link_to "Archives"
            %li 
              = link_to "About"
            %li.last 
              = link_to '&nbsp;'
            %div{ :style => "clear: both;" }/
        #left-sidebar
          %h2 InsightMethods
          %p 
            \... is a california based company. That kicking ass of traditional enterprisy market research companies
          %h2 Products
          %p
            %a{:href => 'http://forge.insightmethods.com'} Forge
          %h2 Archives
          %ul
            %li January
            %li February
            %li March
            %li April
        #main-content
          = catch_content :for_layout
          
        %div{ :style => "clear: both;" }/
        #footer
      %div{ :style => "clear: both;" }/
      
    - if Merb.env == 'production'  
      <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
      var pageTracker = _gat._getTracker("UA-587170-6");
      pageTracker._trackPageview();
      </script>
